
	{% autoescape off %}
	
		<div id="tab1_ctn" class="tab_ctn">
			<div class="sidebar">
				<div style="" id="top_bar"> 
				{% if msg %}
					<b style="color:#333">{{ msg }}</b>
				{% else %}
					{{ qphrase }} 
				{% endif %}
				</div>
				<ul class="menu">
					{% for phrase, ch_ph , score, ex_lst in results_lst %}
						<li><a href="#" value="sim_ex_{{ forloop.counter }}">{{ phrase }} {{ ch_ph }} <span> / {{ score }}</span></a></li>
					{% endfor %}
				</ul>
			</div>
			<div id="example_sent" class="exsent_container">
				{% for phrase, ch_ph , score, ex_lst in results_lst %}
				<div class="exsent" id="sim_ex_{{ forloop.counter }}">
					{% for ex, ex_sent, ex_ch, pat_lst  in ex_lst %}
					<h3>{{ ex }} {{ ex_ch }}</h3>
					
					<p>{{ ex_sent }}</p>
					<ul class="exaccord noaccordion">
						{% for pat, pat_items in pat_lst %}
							{% if forloop.counter < 10 %}
								<li> <a><span class="wordlist" title="例字" href="wordlist.html?qword={{ pat.1 }}" rel="wordlist.html?qword={{ pat.1 }}" > {{ pat.0 }} </span> {{ pat.2 }} <span class="wordlist" title="例句" href="wordlist.html?qword={{ pat.4 }}" rel="wordlist.html?qword={{ pat.4 }}" > {{ pat.3 }} </span><span class="pat_freq">/ {{ pat_items.0 }} </span></a>
									<ul class="acitem">
										{% for pat_ex in pat_items.3 %}
											{% if forloop.counter < 10 %}
												<li><a class="expl_sent" title="例句" href="example.html?qp={{ pat_ex }}" rel="example.html?qp={{ pat_ex }}" > {{ pat_ex }} <span class="translate" title="翻譯" href="translate.html?qp={{ pat_ex }}" rel="translate.html?qp={{ pat_ex }}" > 翻譯 </span></a></li>
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
					{% endfor %}
					
				</div>
				{% endfor %}
				
			</div>
		</div>
		
		



<script>
$(document).ready(function() {	
	
	$('.exaccord').initMenu();

	//Background color, mouseover and mouseout
	var colorOver = '#31b8da';
	var colorOut = '#CCC';

	//Padding, mouseover
	var padLeft = '20px';
	var padRight = '20px';
	
	//Default Padding
	var defpadLeft = $('.menu li a').css('paddingLeft');
	var defpadRight = $('.menu li a').css('paddingRight');
	
	
	
	//Animate the LI on mouse over, mouse out
	$('.menu li').click(function () {	
		//Make LI clickable
		window.location = $(this).find('a').attr('href');
		
		to_show = $(this).find('a').attr('value');
		
		$(".exsent").fadeOut(0)
		$('#'+to_show).fadeIn(1000);
		
		
		$('.menu li').find('a')
		.animate( { paddingLeft: defpadLeft, paddingRight: defpadRight}, { queue:false, duration:100 } )
		.animate( { backgroundColor: colorOut }, { queue:false, duration:200 });
		
		$(this).find('a')
		.animate( { paddingLeft: padLeft, paddingRight: padRight}, { queue:false, duration:100 } )
		.animate( { backgroundColor: colorOver }, { queue:false, duration:200 });
		
	}).mouseover(function (){
		
		//mouse over LI and look for A element for transition
		$(this).find('a')
		.animate( { paddingLeft: padLeft, paddingRight: padRight}, { queue:false, duration:100 } )
		.animate( { backgroundColor: "5px" }, { queue:false, duration:200 });

	}).mouseout(function () {
	
		//mouse oout LI and look for A element and discard the mouse over transition
		$(this).find('a')
		.animate( { paddingLeft: defpadLeft, paddingRight: defpadRight}, { queue:false, duration:100 } );
	});	
	
	
	// tooltip
	$('span.wordlist').cluetip({
		cluezIndex:500,
		arrows: false,
		dropShadow: false,
		hoverIntent: false,
		sticky: false,
		mouseOutClose: true,
		fx: {             
            open:       'fadeIn', // can be 'show' or 'slideDown' or 'fadeIn'
        	openSpeed:  '300'
    	},
		//tracking: true,

	});

	$('a.expl_sent').cluetip({
		cluezIndex:500,
 
		width: 650,
		arrows: false,
		dropShadow: false,
		hoverIntent: false,
		sticky: false,
		mouseOutClose: true,
				fx: {             
            open:       'fadeIn', // can be 'show' or 'slideDown' or 'fadeIn'
        	openSpeed:  '300'
    	},
    	//tracking: true,

	});
	
	$('span.translate').cluetip({
 
		cluezIndex:500,
		arrows: false,
		dropShadow: false,
		hoverIntent: false,
		sticky: false,
		mouseOutClose: true,
		fx: {             
            open:       'fadeIn', // can be 'show' or 'slideDown' or 'fadeIn'
        	openSpeed:  '300'
    	},
    	//tracking: true,

	});
});
</script>


{% endautoescape %}

